* {
    margin: 0;
    padding: 0;
}

#footer {
    height: 100px;
    background-color: #162b17;
    text-align: center;
    container-type: size;
    container-name: footer;
}

#footer a {
    font-size: 30px;
    line-height: 100px;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

@container footer (max-width: 8cm) {
    #footer h1 {
        font-size: 7vw;
    }
}

#footer a:hover {
    color: #c9e8c3;
}

#footer #contact-us{
    font-family: "Inter", sans-serif;
    font-size: 20px;
}