* {
    margin: 0;
    padding: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media all and (max-width: 27cm) {

    /*Sidebar menu*/
    .navbar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #162b17;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    /*Sidebar links*/
    .navbar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        font-family: "Rubik", sans-serif;
        color: white;
        display: block;
        transition: 0.3s;
    }

    /*Changes the colour of links when mouse hovers over it*/
    .navbar a:hover {
        color: #c9e8c3;
    }

    /*Sidebar close button*/
    .navbar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /*Open sidebar button*/
    .openbtn {
        display: inline;
        float: right;
        font-size: 30px;
        font-family: "Rubik", sans-serif;
        cursor: pointer;
        background-color: #162b17;
        color: white;
        /* padding: 10px 25px; */
        margin: 15px 25px;
        border: none;
    }

    .openbtn:hover {
        color: #c9e8c3;
    }

    #arg {
        height: 10000px
    }

    /* header */
    #header {
        overflow: hidden;
        top: 0;
        width: 100%;
        height: 70px;
        line-height: 70px;
        background-color: #162b17;
        /* text-align: center; */
    }

    #header img {
        display: inline;
        float: left;
        margin: 10px;
        height: 50px;
        left: 0;
    }
}

@media all and (min-width: 27cm) {
    #navbar li {
        list-style-type: none;
        float: right;
    }

    #navbar li a {
        display: block;
        padding-right: 40px;
        text-decoration: none;
        background-color: #162b17;
        color: white;
        font-family: "Rubik", sans-serif;
        line-height: 70px;
    }

    #navbar a:hover {
        color: #c9e8c3;
    }

    #navbar .closebtn {
        display: none;
    }

    #header .openbtn {
        display: none;
    }

    #header {
        width: 100%;
        height: 70px;
        background-color: #162b17;
    }

    #header img {
        display: inline;
        float: left;
        margin: 10px;
        height: 50px;
        left: 0;
    }
}
